<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">

		<!--no "=" in the tag below because whe you dont want something to show on page(be hidden), no "="-->
		<% flash.each do |name, msg| %>
	<!--for each flash messgae, a content, a div a msg, class and alert-->
			<%= content_tag(:div, msg, class: "alert alert-info")%>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
